
  <!-- general form elements -->
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Ajouter un ODP</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail1">N° ODP</label>
          <input type="text" class="form-control" id="exampleInputEmail1"  [(ngModel)]="odp.id" name="id">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Article</label>
          <div class="ng-autocomplete" class="form-control" >
            <ng-autocomplete 
              [data]="val"
              [searchKeyword]="keyword"
              (selected)='selectEvent($event)'
              (inputChanged)='onChangeSearch($event)'
              (inputFocused)='onFocused($event)'
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate">                                 
            </ng-autocomplete>
             
            <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
            </ng-template>
             
            <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>
            </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Quantité</label>
          <input type="text" class="form-control" id="exampleInputPassword1"  [(ngModel)]="odp.quantite" name="quantite">
        </div>

      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary" (click)="ajouterOdp()">Ajouter</button>
      </div>
    </form>

