
     <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">

              <!-- /.card-header -->
              <div class="card-body">

                <div class="row mt-4">
                  <div class="col-sm-4" (click)="rederiger('commencer')">
                    <div class="position-relative p-3 bg-gray" style="height: 180px">   
                      <b>Commencer une activité</b>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="position-relative p-3 bg-gray" (click)="rederiger('terminer')" style="height: 180px">
                      <div class="ribbon-wrapper ribbon-xl">
                      </div>
                      <b>Terminer une activité</b>
                    </div>
                  </div>
                  <div class="col-sm-4" >
                    <div class="position-relative p-3 bg-gray" style="height: 180px" (click)="rederiger('presence')">
                      <div class="ribbon-wrapper ribbon-xl">
                      </div>
                      <b>Présence</b>
                    </div>
                  </div>
                </div>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->


