
  <!-- general form elements -->
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Nouvelle activité</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputFile">Nom d'activité</label>
          <div class="input-group">
            <div class="custom-file">
              <input type="text" class="form-control" [(ngModel)]="activite.nom" name="nom" >
            </div>
            <div class="input-group-append">
              <span class="input-group-text" id="" (click)="ajouterActivite()">Ajouter</span>
            </div>
          </div>
        </div>
      </div>
    </form>

